# Virtuelle miljøer
venv/
.venv/

# Pytest/coverage/tempfiler
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
.coverage
.cache

# Editor/OS
.DS_Store
.idea/
.vscode/
*.swp

# Docker
*.db
*.sqlite3

# Miljøfiler
.env*
